:root {
  font-family: "tanha", "vazir", "roboto";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

nav .active li {
  color: white;
    font-weight: 800;
    text-decoration: 2px underline white;
}
